html{
    background-color: #f6efeb;
}

*{
    box-sizing: border-box;
}

body{
    margin: 1rem auto;
    max-width: 1400px;
    width: 100%;
    color: #a67a5b;
    font-family: Arial, Helvetica, sans-serif;
}
