/*Dette er html*/

html{
    background-color: #f6efeb;
}

*{
    box-sizing: border-box;
}

body{
    margin: 1rem auto;
    max-width: 1200px;
    width: 100%;
    color: #a67a5b;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a67a5b;
    letter-spacing: 5px;
    margin-left: 42px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header nav ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    padding-left: 33px;
}

.sokefelt{
    align-items: center;
    margin-left: 76px;
    bor
}

h1{
    text-align: center;
    font-size: 20px;
}

.produkth1{
    letter-spacing: 3px;
    font-size: 20px;
    
}

.logginnh1{
    letter-spacing: 3px;
    font-size: 20px;
}


.pynt{
    background-color: #e8dcb5; 
    height: 420px;
    margin-bottom: auto; 
    padding-bottom: 10px;  
}


a{
    text-decoration: none;
    color: #a67a5b;
}

footer nav ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer{
    align-content: center;
}

/*Dette er flex på index-siden*/

.default-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul{
    justify-content: center;
}

.default-flex h3{
    flex-basis: 100%;
}

.default-flex section{
    margin-top: 50px;
}

.default-flex article{
    flex-basis: 33%;
    min-width: 300px;
    justify-content: center;
}

.default-flex article img{
    width: 100%;
}

/*Dette er grid på index-siden*/

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
                        "header header header"
                        "main main main"
                        "footer footer footer" ;
    

}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/*Dette er media queries for desktop*/

@media only screen and (min-width: 850px) {
    
    #grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    header{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    

    main{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    main h1{
        text-align: center;
    }

    footer{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .default-flex article img{
        width: 100%;
    
    
    }

    .default-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .default-flex3 article{
        flex-basis: 33%;
        min-width: 600px;
        justify-content: center;
        text-align: center;
    }
    .sokefelt{
        display: flex;

    }

    footer nav ul li{
        margin-left: 15px;
    }

    /*Endret på mellomrom mellom bokstaver i logo + lagt til margin for å sentrere*/

    #logo{
        letter-spacing: 5px;
        margin-left: 60px;    
    }



}


